.drop-target
  width calc(75% + 4em)
  margin 4em auto
  border 5px dashed #ddd
  border-radius 16px
  //transition border 0.25s ease-in-out
  p
    transition none
  .prompt
    p
      font-weight 900
      font-size 1.5em
      text-align center
      margin 0.5em
      color #ddd
      cursor pointer
      label
        cursor pointer
    #file-select
      position absolute
      left -99999px