@import "../node_modules/jeet/stylus/jeet"
@import "../node_modules/rupture/rupture/index"
@import "links"
@import "content"
@import "drop-target"
@import "results"
@import "go-again"

body
  font-size 18.4px
  margin 4em 2em
  font-family "proxima-nova", sans-serif;
  color #444
  +below(400px)
    font-size 14px

p
  text-align justify
  line-height 1.6